{% extends 'home/index.html.twig' %}
{% block title %}Área de trabajadores{% endblock %}
{% block content %}
    <div class="col-md-12 workerName"><h1>{{ worker.firstName }} {{ worker.lastName }}</h1></div>

    <div class="col-md-12 workerDetails">

    </div>
{% endblock %}