/*Opciones generales*/
.clientName,.clientAddress,.clientImageDetailContainer,.clientData{
    display: inline-block;
}
/*Listado de clientes*/
.clientContainer{
    border: 1px solid black;
    /*width: 20vw;*/
    height: 40vh;
    margin-right: 5vw;
    margin-bottom: 5vh;
    background-color: rgba(255,255,255,1);
    -webkit-box-shadow: 4px 10px 7px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 4px 10px 7px 0px rgba(0,0,0,0.27);
    box-shadow: 4px 10px 7px 0px rgba(0,0,0,0.27);
    display: inline-table;
}
.clientOptions{text-align: right;}

.clientImageContainer{
    padding-top: 5px;
    text-align: center;
}
.clientImage{
    width: 100px;
    height: 100px;
}
.clientName,.clientAddress, .clientPhone{
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 17vw;
}
/*Detalles*/
.clientDetails{display: inline-flex;}
.clientImageDetailContainer{
    margin-right: 5vw;
    text-align: center;
}
.clientImageDetail{
    width: 200px;
}
#map {
    width: 80%;
    height: 80%;
}
/*Creación clientes*/
.hiddenMap{
    display: none;
}
#map1{
    width: 80%;
    height: 500px;
}

@media only screen and (max-width: 760px) {
    .clientName,.clientAddress, .clientPhone{
        width: 75vw;
    }
}