/*Ajustes generales*/
body{
    overflow-x: hidden;
    /*background-image: url("../images/texture2.jpg");*/
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/homebkg.jpg");
    background-size: cover;
}
.bold{font-weight: bold;}
.center{text-align: center;}
.appContainer{
}
/*.appContainer,.appContent,.appMenu{min-height: 100vh;}*/
.appMenu{
    background-color:rgba(255, 255, 255, 0.6);
    border-right: 1px solid black;
    /*todo Ajustes para mantener el menú fixed*/
    /*position: fixed;*/
}
.appContent{
    padding: 0;
    /*todo Ajustes para mantener el menú fixed*/
    /*position: relative;
    left: 16.6666667%;*/
}

.alert {
    position: fixed;
    right: 0;
    padding: 1.25rem 2.25rem;
    margin: 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
    z-index: 3;
    -webkit-box-shadow: 4px 4px 9px -1px rgba(0,0,0,0.27);
    -moz-box-shadow: 4px 4px 9px -1px rgba(0,0,0,0.27);
    box-shadow: 4px 4px 9px -1px rgba(0,0,0,0.27);
}

.search{
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*Ajustes del home*/
.commissionArea,.personalArea{
    min-height: 100vh;
}
.commissionArea,.personalArea{
    display: inline-table;
}
.avatarContainerHome{
    display: inline-grid;
}
.dataHome{
    display: inline-block;
}
.commissionArea{
    border-right: 1px solid black;
}
.avatarHome{
    width: 200px; height: 35vh;
}