/*index.html.twig*/
.activeW{
    background-color: lightgreen;
}
.inactiveW{
    background-color: lightcoral;
}
/*Detail.html.twig*/
.workerDetails{
    padding: 5vh;
}
.workerBlock{
    display: inline-block;
    vertical-align: text-top;
}
.workerImage{
    width: 150px;
}