/*index.html.twig*/
.workerOptions{text-align: right;}
thead,tbody{background-color: white;}
.activeW{
    background-color: lightgreen;
}
.inactiveW{
    background-color: lightcoral;
}
.optionsTD > a{
    width: 100%;
}
/*Detail.html.twig*/
.workerDetails{
    padding: 5vh;
}
.workerBlock{
    display: inline-block;
    vertical-align: text-top;
}
.workerImage{
    width: 150px;
}