/*Opciones generales*/
.clientName,.clientAddress,.clientImageDetailContainer,.clientData{
    display: inline-block;
}
/*Listado de clientes*/
.clientContainer{
    border: 1px solid black;
    /*width: 20vw;*/
    height: 40vh;
    margin-right: 5vw;
    margin-bottom: 5vh;
    background-color: rgba(255,255,255,1);
    -webkit-box-shadow: 4px 10px 7px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 4px 10px 7px 0px rgba(0,0,0,0.27);
    box-shadow: 4px 10px 7px 0px rgba(0,0,0,0.27);
    display: inline-table;
}
.clientOptions{text-align: right;}

.clientImageContainer{
    padding-top: 5px;
    text-align: center;
}
.clientImage{
    width: 100px;
    height: 100px;
}
.clientName,.clientAddress, .clientPhone{
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 17vw;
}
.disabled{
    background-color: rgba(255, 31, 41, 0.7);
}
.addProduct, .delOrder, .clientDelOrder input[type='submit']{width: 100%;}
.delOrder, .clientDelOrder input[type='submit']{margin-top: 10px;}
.clientDelOrder{margin-bottom: 10px;}
.clientName,.clientAddress,.delOrderNumber{text-align: center;}

/*Detalles*/
.clientDetails{display: inline-flex;}
.clientImageDetailContainer{
    margin-right: 5vw;
    text-align: center;
}
.clientImageDetail{
    width: 200px;
}
.clientDetailOptions{width:100%;margin-bottom: 10px;}
#map {
    width: 80%;
    height: 80%;
}

.clientDetailsHeaderData,.clientDetailsHeaderMap{display: none;}

/*Formularios*/
.hiddenMap{
    display: none;
}
#map1{
    width: 80%;
    height: 500px;
}
.clientForm label{font-weight: bold;}
.imagePreview{text-align: center;}

/*Moviles*/
@media only screen and (max-width: 760px) {
    .clientName,.clientAddress, .clientPhone{
        width: 75vw;
    }
    .clientOptions input{width: 100%;    margin-bottom: 10px;}

    /*Detalles*/
    .clientDetailsHeaderData,.clientDetailsHeaderMap{display: inline-block; margin-top: 20px;}
    .clientDetailsHeader{text-align: center;}
    .clientDetails{display: inline;}
    .clientRouteButton{width:100vw;margin-bottom: 10px;}
    .clientData{text-align: center; font-size: 1.5em;}
    .clientData label, .clientData h2{width: 100vw;}
    .clientDetailsMap #map {
        width: 100vw;
        height: 80vh;
    }
    .clientFormMap {
        width: 100%!important;
    }

    /*Formularios*/
    .showButton,.createClientButton,.editClientButton{width: 100%;
        margin-top: 10px;}
}

