{% extends 'home/index.html.twig' %}

{% block title %}Área de clientes{% endblock %}

{% block content %}
    <div class="col-md-12"><h1>Clientes</h1></div>
    <div class="col-md-12 clientOptions">
        <input type="button" value="Añadir cliente">
        <input class="input" type="text" placeholder="Buscar...">

    </div>
    <div class="col-md-12 clientList">
        {% for client in clients %}
            <div>
                <div> {{ client.firstName }} {{ client.lastName }} {% if client.alias is not null %} "{{ client.alias }}" {% endif %}</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}